<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="CSS\Recipe.css">
    <script src="JS\Recipe.js"></script>
    <link rel="icon" type="image/x-icon" href="src\Logo.png">
</head>
<body>
    
    <!-- NAVBAR -->
    <%- include('layouts/nav.ejs') %>

    <!-- INTRO -->
    <div class="carousel" id="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="src\Carousel4.png" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="src\Carousel6.png" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="src\Carousel5.png" alt="Image 3">
        </div>
      </div>
      <button class="carousel-control prev">&lt;</button>
      <button class="carousel-control next">&gt;</button>
    </div>
    <script src="JS\Recipe.js"></script>


    <!-- SHOP PREVIEW -->
    <%- include('layouts/previewshop.ejs') %>

    <!-- RECIPE -->
    <div class="RecipeList" id="recipe">
      <h2>RECIPE</h2>
      <div class="Recipe-News">
        <!-- THE RECIPE-->
        <div class="Recipe-Items">
          <!-- RECIPE 1 -->
          <a href="/Recipe_1">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 2 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 3 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 4 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 5 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 6 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 7 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 8 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 9 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 10 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 11 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 12 -->
          <a href="#">
            <div class="Recipe-Item">
              <img src="src\Shop\Cumin.png" alt="">
              <div class="Recipe-Content">
                <p>"They'll say you are bad or perhaps you are mad or at least you should stay undercover. 
                  Your mind must be bare if you would dare to think you can love more than one lover."</p>
                <p class="author">~ Author</p>
              </div>
            </div>
          </a>
        </div>
        <!-- THE NEWS -->
        <div class="Recipe-News-Items">
          <div class="Recipe-News-Items-Content">
            <!-- NEWS 1-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-1">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 2-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-2">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 3-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-3">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 4-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-4">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 5-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-5">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    

    <!-- COMMENT -->
    <%- include('layouts/comment.ejs') %>

    <!-- FOOTER -->
    <%- include('layouts/footer.ejs') %>
</body>
</html>