<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="CSS\Recipe.css">
    <script src="JS\Recipe.js"></script>
    <link rel="icon" type="image/x-icon" href="src\Logo.png">
</head>
<body>
    
    <!-- NAVBAR -->
    <%- include('layouts/nav.ejs') %>

    <!-- INTRO -->
    <div class="carousel" id="carousel">
      <div class="carousel-inner">
        <div class="carousel-item">
          <img src="src\Carousel4.png" alt="Image 1">
        </div>
        <div class="carousel-item">
          <img src="src\Carousel6.png" alt="Image 2">
        </div>
        <div class="carousel-item">
          <img src="src\Carousel5.png" alt="Image 3">
        </div>
      </div>
      <button class="carousel-control prev">&lt;</button>
      <button class="carousel-control next">&gt;</button>
    </div>
    <script src="JS\Recipe.js"></script>


    <!-- SHOP PREVIEW -->
    <%- include('layouts/previewshop.ejs') %>

    <!-- RECIPE -->
    <div class="RecipeList" id="recipe">
      <h2>RECIPES</h2>
      <div class="Recipe-News">
        <!-- THE RECIPE-->
        <div class="Recipe-Items">
          <!-- RECIPE 1 -->
          <a href="/Recipe_1">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Rendang.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Rendang</p>
                <p>
                  Rendang is a tasty Indonesian dish made with meat, coconut milk, and spices. It's cooked slowly for a rich flavor and tender texture. It's popular for celebrations and enjoyed by many around the world.
                </p>
              </div>
            </div>
          </a>
          <!-- RECIPE 2 -->
          <a href="/Recipe_2">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_NasiGoreng.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Nasi Goreng</p>
                <p>Nasi Goreng: Indonesian fried rice with chicken, veggies, and spices, served with sweet soy and tomato sauce, garnished with cucumber, tomato, and crispy crackers.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 3 -->
          <a href="/Recipe_3">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_PempekPalembang.jpg" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Pempek Palembang</p>
                <p>
                  Pempek Palembang: a versatile dish from South Sumatra, Indonesia, blending ground fish, tapioca flour, and aromatic spices in various shapes and sizes, encapsulating the region's culinary tradition.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 4 -->
          <a href="/Recipe_4">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Gudeg.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Gudeg Jogja</p>
                <p>
                  Gudeg Jogja: a sweet and savory Javanese dish with young jackfruit, coconut milk, and spices, embodying Yogyakarta's culinary heritage."</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 5 -->
          <a href="/Recipe_5">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_GulaiIkanPatin.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Gulai Ikan Patin</p>
                <p>Indonesian catfish curry simmered in aromatic spices and coconut milk, known for its comforting flavors and enjoyed with rice.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 6 -->
          <a href="/Recipe_6">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Rawon.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Rawon</p>
                <p>A dark and flavorful Indonesian beef soup made with aromatic spices and keluak nuts, enjoyed for its rich taste and comforting appeal.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 7 -->
          <a href="/Recipe_7">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Pendap.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Pendap</p>
                <p>
                  Pendap is a traditional Indonesian beef dish from West Sumatra, cooked in coconut milk with spices like turmeric, lemongrass, and galangal. It's a flavorful staple in Minangkabau cuisine.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 8 -->
          <a href="/Recipe_8">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Gadogado.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Gado-gado</p>
                <p>Gado-gado is an Indonesian salad with blanched vegetables, tofu, and eggs, served with peanut sauce.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 9 -->
          <a href="/Recipe_9">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_MiAceh.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Mi Aceh</p>
                <p>Spicy Indonesian noodle dish with thick yellow noodles, rich broth, beef, seafood, herbs, and lime.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 10 -->
          <a href="/Recipe_10">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_BabiGuling.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Babi Guling</p>
                <p>
                  Babi Guling, a cherished Balinese dish, features a whole pig seasoned with local spices and slow-roasted until tender. Served with rice, lawar, and sambal matah, it embodies Bali's rich culinary heritage.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 11 -->
          <a href="/Recipe_11">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_Klepon.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Klepon</p>
                <p>Klepon, originating from Java, features green glutinous rice balls filled with palm sugar, coated in coconut. Boiled to perfection, they offer a sweet burst of flavor and chewy texture, embodying Indonesia's culinary tradition.</p>
              </div>
            </div>
          </a>
          <!-- RECIPE 12 -->
          <a href="/Recipe_12">
            <div class="Recipe-Item">
              <img src="src\Shop\Authentic Food\Authentic_NasiLiwet.png" alt="">
              <div class="Recipe-Content">
                <p class="Recipe-Content-Subtitle">Nasi Liwet</p>
                <p>Indonesian rice dish from West Java, cooked with coconut milk and spices, served with side dishes like fried chicken and sambal.</p>
              </div>
            </div>
          </a>
        </div>
        <!-- THE NEWS -->
        <div class="Recipe-News-Items">
          <div class="Recipe-News-Items-Content">
            <!-- NEWS 1-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-1">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 2-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-2">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 3-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-3">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 4-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-4">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
            <!-- NEWS 5-->
            <a href="https://www.kompas.id/baca/english/2023/09/30/en-dari-nusantara-membumbui-dunia">
              <div class="Recipe-News-Items-Content-5">
                <div class="content-container">
                  <div class="image-container">
                    <img src="src\News\News2.jpg" alt="">
                  </div>
                  <div class="text-container">
                    <h3>From the Archipelago to Spice Up the World</h3>
                    <p>It is believed that the strategy of flooding the global market with Indonesian spices can accelerate efforts to introduce Indonesian culinary delights to the world.</p>
                    <h5>~ Kompas.id</h5>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    

    <!-- COMMENT -->
    <%- include('layouts/comment.ejs') %>

    <!-- FOOTER -->
    <%- include('layouts/footer.ejs') %>
</body>
</html>